.target-cursor-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}

.target-cursor-dot {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
}

.target-cursor-corner {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  will-change: transform;
}

.corner-tl {
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 10px;
}

.corner-tr {
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 10px;
}

.corner-br {
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 10px;
}

.corner-bl {
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 10px;
}
